body{
    background-color: #F8F2ED;
}

h2 {
    font-family: Silkscreen Regular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    margin-left: 3%;
    margin-top: 10%;
}

h3{
    font-family: Silkscreen Regular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    margin-top: 0%;
}

h4{
    font-family: Silkscreen Regular, Arial, Helvetica, sans-serif;
    font-size: 400%;
    margin: 0% 0% 3%;
}

h5{
    font-family: Space-Grostesk, Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin: 0% 0% 5% 1%;

}

p {
    font-family: Space-Grostesk, Arial, Helvetica, sans-serif;
}



#titleBanner{
    padding: 10px 10px 10px 10px;
    margin: 1% 1% 2% 1%;
    background-image: linear-gradient(to top right, #0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C, #C60270);
    border: 1px solid black;
    animation: title 1s ease-in-out infinite;
}

@keyframes title {
    0% {background-image: linear-gradient(to top right, #0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C, #C60270);}
    12.5% {background-image: linear-gradient(to top right, #C60270 ,#0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C);}
    25% {background-image: linear-gradient(to top right, #C1357C,#C60270 ,#0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88);}
    37.5% {background-image: linear-gradient(to top right,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2,#63479A,#7F4B98,#9B4F96);}
    50% {background-image: linear-gradient(to top right, #9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2,#63479A,#7F4B98);}
    62.5% {background-image: linear-gradient(to top right, #7F4B98,#9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2,#63479A);}
    75% {background-image: linear-gradient(to top right, #63479A ,#7F4B98,#9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2);}
    87.5% {background-image: linear-gradient(to top right, #3745A2,#63479A ,#7F4B98,#9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8);}
    100% {background-image: linear-gradient(to top right, #0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C, #C60270);}
}

#titleBanner h1{
    text-align: center;
    font-family: Silkscreen Thick,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
}

/*About Me*/

.columns{
    float: left;
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: #bbdefb;
    box-shadow: 8px 6px 5px 5px #d6ecff;
}

#aboutMe::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
    width: 100%;
    }
}

.blinkingCursor{
    color:rgba(0, 0, 0, 1);
    animation: cursor;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0%{color: rgba(0, 0, 0, 1);}
    50%{color: rgba(0, 0, 0, 0)}
    100%{color: rgba(0, 0, 0, 1);}
}

#profilePic{
    width: 400px;
    height: 400px;
    padding: 5px;
    transform: translate(50px, 0px);
}

#info{
    text-align: center;
}

#content{
    text-align: justify;
}

    
