:root{
    --baseBlue: #bbdefb;
    --shadowBlue: #d6ecff;
    --subTableBlue: #2da0ff;
    --pulse1Blue: #2471a3;
    --pulse2Blue: #abb2b9;
}

body{
    background-color: #F8F2ED;
}

h2 {
    font-family: Silkscreen Regular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
    margin: 10% 0% 0% 3%;
}

h3{
    font-family: Silkscreen Regular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vh;
    margin-top: 0%;
}

h4{
    font-family: Silkscreen Regular, Arial, Helvetica, sans-serif;
    font-size: 8vh;
    margin: 0% 0% 3%;
}

h5{
    font-family: Space-Grostesk, Arial, Helvetica, sans-serif;
    font-size: 5vh;
    margin: 0% 0% 5% 1%;

}

p {
    font-family: Space-Grostesk, Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
}





#titleBanner{
    padding: 10px 10px 10px 10px;
    margin: 1% 1% 2% 1%;
    background-image: linear-gradient(to top right, #0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C, #C60270);
    border-radius: 10px;
    animation: title 1s linear infinite;
    width: auto;
    max-width: 100%;
}

@keyframes title {
    0% {background-image: linear-gradient(to top right, #0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C, #C60270);}
    12.5% {background-image: linear-gradient(to top right, #C60270 ,#0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C);}
    25% {background-image: linear-gradient(to top right, #C1357C,#C60270 ,#0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88);}
    37.5% {background-image: linear-gradient(to top right,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2,#63479A,#7F4B98,#9B4F96);}
    50% {background-image: linear-gradient(to top right, #9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2,#63479A,#7F4B98);}
    62.5% {background-image: linear-gradient(to top right, #7F4B98,#9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2,#63479A);}
    75% {background-image: linear-gradient(to top right, #63479A ,#7F4B98,#9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8,#3745A2);}
    87.5% {background-image: linear-gradient(to top right, #3745A2,#63479A ,#7F4B98,#9B4F96,#AC4A88,#C1357C,#C60270 ,#0038A8);}
    100% {background-image: linear-gradient(to top right, #0038A8,#3745A2,#63479A,#7F4B98,#9B4F96,#AC4A88,#C1357C, #C60270);}
}

#titleBanner h1{
    text-align: center;
    font-family: Silkscreen Thick,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
}

/*About Me*/

.columns{
    float: left;
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    margin-top: 5%;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: var(--baseBlue);
    box-shadow: 8px 6px 5px 5px var(--shadowBlue);
}

#aboutMe::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:800px) {
    .column {
    width: 100%;
    }
}

.blinkingCursor{
    color:rgba(0, 0, 0, 1);
    animation: cursor;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0%{color: rgba(0, 0, 0, 1);}
    50%{color: rgba(0, 0, 0, 0)}
    100%{color: rgba(0, 0, 0, 1);}
}

.columns #profilePic{
    padding: 5px;
    transform: translate(35px, 0px);
    max-width: 80%;
    height: auto;
    border-radius: 30px 10px;
}

#info{
    text-align: center;
}

#content{
    text-align: justify;
}

    
