.actualLink{
    display: inline-block;
    text-decoration: none;
    padding: 100px;
    margin: 2% 0% 2% 2%;
    font-family: Silkscreen Regular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    color: black;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.actualLink:active{
    color: black;
}

#mail{
    background-color: var(--subTableBlue);
    margin-left: 8vh;
}

#social{
    background-color: #5e52e9;
}

#comms{
    background-color: #82abe2;
    margin-left: 8vh;
}

#comms span{
    position:absolute;
    opacity: 0;
}

#comms span:hover{
    opacity: 1;
    background-color: #82abe2;
    margin-left: -7%;
}

#repo{
    background-color: black;
    color: white;
}






