.actualLink{
    display: inline-block;
    padding: 50px 125px;
    text-decoration: none;
    margin: 2% 0% 2% 2%;
    font-family: Silkscreen Regular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
}

.actualLink:active{
    color: black;
}

#mail{
    background-color: var(--subTableBlue);
}

#social{
    background-color: #5e52e9;
}

#comms{
    background-color: #82abe2;
}

#comms span{
    position:absolute;
    opacity: 0;
}

#comms span:hover{
    opacity: 1;
    background-color: #82abe2;
    margin-left: -7%;
}

#repo{
    background-color: black;
    color: white;
}






