.actualLink{
    display: inline-block;
    padding: 50px 125px;
    text-decoration: none;
    margin: 2% 0% 0% 2%;
    font-family: Silkscreen Regular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    border: 1px solid black;
    color: black;
}

.actualLink:active{
    color: black;
}





