.columns{
    float: left;
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: var(--baseBlue);
    box-shadow: 8px 6px 5px 5px  var(--shadowBlue);
}

#inventions::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:800px) {
    .column {
    width: 100%;
    }
}

.Projects{
    max-width: 80%;
    height: auto;
    object-fit: cover;
    padding: 5px;
    transform: translate(35px, 0px);
    margin-left: 2%;
    border-radius: 30px 10px;
}

#img2{
    object-position: 22% 100%;
}

#img3{
    object-position: 22% 100%;
}

