#hobby{
    width: 80%;
    height: auto;
    background-color: #bbdefb;
    box-shadow: 8px 6px 5px 5px #d6ecff;
    margin: 0% 0% 5% 8%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
}

@keyframes visibleText {
    0%{visibility: visible;
        transform: translate(40%, 5px);}
    100%{visibility: visible;
        transform: translate(40%, 5px);
        }
}

/*Gaming SubSquare*/

#Gaming{
    background-image: url(Storage/Images/hobby/game/MOST.jpg);
    border-radius: 30px 10px;
    margin: 3% 3%;
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #2da0ff;
    transition: width 1s;
}

#Gaming:hover{
    box-shadow: 8px 6px 5px 5px #2471a3;
    animation: imageProp1 2s ease-in-out 50ms infinite alternate;
    width: 650px;
    height: 250px;
}

#Gaming:hover p{
    animation: visibleText 1s 1s linear infinite;
    margin-left: 20%;
    width: 350px;
    word-wrap: break-word;
    text-align: justify;
}

#Gaming:hover h3{
    animation: visibleText 1s 1s linear infinite;
    margin-left: 20%;
    width: 350px;
    word-wrap: break-word;
    text-align: justify;
}

.contentTxt{
    visibility: hidden;
}

@keyframes imageProp1 {
    0% {box-shadow: 8px 6px 5px 5px #2471a3;
        background-image: url(Storage/Images/hobby/game/20240616105830_1.jpg);
        background-size: 250px 250px;
        background-repeat: no-repeat;
        }
    50% {box-shadow: 8px 6px 5px 5px  #abb2b9;
        background-image: url(Storage/Images/hobby/game/MOST.jpg);
        background-size: 250px 250px;
        background-repeat: no-repeat;}
    100% {box-shadow: 8px 6px 5px 5px #2471a3;
        background-image: url(Storage/Images/hobby/game/Seriousity_7-7-2024_10730984.png);
        background-size: 250px 250px;
        background-repeat: no-repeat;
        }
}


/*Photography SubSquare*/

#Photography{
    background-image: url(Storage/Images/hobby/photography/IMG_20240214_100432_261.jpg);
    border-radius: 10px 30px;
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #2da0ff;
    transform: translate(200px, 0px);
    transition: width 1s;
}

#Photography:hover{
    box-shadow: 8px 6px 5px 5px #d6ecff;
    animation: imageProp2 2s ease-in-out 50ms infinite alternate;
    width: 650px;
    height: 250px;
}

#Photography:hover p{
    animation: visibleText 1s 1s linear infinite;
    margin-left: 20%;
    width: 350px;
    word-wrap: break-word;
    text-align: justify;
}

#Photography:hover h3{
    animation: visibleText 1s 1s linear infinite;
    margin-left: 20%;
    width: 350px;
    word-wrap: break-word;
    text-align: justify;
}

@keyframes imageProp2 {
    0% {box-shadow: 8px 6px 5px 5px #2471a3;
        background-image: url(Storage/Images/hobby/photography/IMG_20240325_134146_510.jpg);
        background-size: 250px 250px;
        background-repeat: no-repeat;
        }
    50% {box-shadow: 8px 6px 5px 5px #abb2b9;
        background-image: url(Storage/Images/hobby/photography/IMG_20240518_111552_389.jpg);
        background-size: 250px 250px;
        background-repeat: no-repeat;}
    100% {box-shadow: 8px 6px 5px 5px #2471a3;
        background-image: url(Storage/Images/hobby/photography/P_20220925_120204_HDR.jpg);
        background-size: 250px 250px;
        background-repeat: no-repeat;
        }
}

/*Gym SubSquare*/

#gym{
    background-image: url(Storage/Images/Current_pfp.png);
    border-radius: 30px 10px;
    margin: 3% 3%;
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: #2da0ff;
    transition: width 1s;
}

#gym:hover{
    box-shadow: 8px 6px 5px 5px #d6ecff;
    animation: imageProp3 2s ease-in-out 50ms infinite alternate;
    width: 650px;
    height: 250px;
}

#gym:hover p{
    animation: visibleText 1s 1s linear infinite;
    margin-left: 20%;
    width: 350px;
    word-wrap: break-word;
    text-align: justify;
}

#gym:hover h3{
    animation: visibleText 1s 1s linear infinite;
    margin-left: 20%;
    width: 350px;
    word-wrap: break-word;
    text-align: justify;
}



@keyframes imageProp3 {
    0% {box-shadow: 8px 6px 5px 5px #2471a3;
        background-image: url(Storage/Images/hobby/gym/P_20230528_171319.jpg);
        background-size: 250px 250px;
        background-repeat: no-repeat;
        }
    50% {box-shadow: 8px 6px 5px 5px  #abb2b9;}
    100% {box-shadow: 8px 6px 5px 5px #2471a3;
        background-image: url(Storage/Images/hobby/gym/P_20230528_171319.jpg);
        background-size: 250px 250px;
        background-repeat: no-repeat;
        }
}


