@font-face {
    font-family: "Silkscreen Regular";
    src: url("Storage/Fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Silkscreen Thick";
    src: url("Storage/Fonts/Silkscreen/Silkscreen-Bold.ttf") format('truetype'); 
}

@font-face {
    font-family: "Space-Grostesk";
    src: url("Storage/Fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');
}